@font-face {
    font-family: 'Courier Prime';
    src: url(../fonts/CourierPrime-Regular.ttf) format('truetype');
    font-display: swap;
}

body {
    font-family: "Courier Prime", monospace;
    font-size: medium;
    color: $font_color;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    color: $theme_color;
} 

h1 { font-size: 1.5rem; }
h2 { font-size: 1.25rem; }
