@font-face {
    font-family: 'Rubik Mono One';
    src: url(../fonts/RubikMonoOne-Regular.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url(../fonts/CourierPrime-Regular.ttf) format('truetype');
    font-display: swap;
}