* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #040404;
}

.box {
  padding: 1em;
  border: 1px solid #70ce90;
  color: #abb7ab;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

@font-face {
  font-family: "Courier Prime";
  src: url(../fonts/CourierPrime-Regular.ttf) format("truetype");
  font-display: swap;
}
body {
  font-family: "Courier Prime", monospace;
  font-size: medium;
  color: #abb7ab;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: #70ce90;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}